<%- include('./partials/header.ejs') %>
<main class="main-content">
    <section class="item-detail">
        <div class="detail-container">
            <div class="edit-image">
                <img src="<%= item.image %>" alt="Item Detail">
            </div>
            <div class="each-detail-info">
                <h1>Edit Listing</h1>
                <form action="/items/<%= item.id %>/?_method=PUT" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="title">Title:</label>
                        <input type="text" id="title" name="title" value="<%= item.title %>" required>
                    </div>
                    <div class="form-group">
                        <label for="condition">Condition:</label>
                        <select id="condition" name="condition" required>
                            <option value="New" <%= item.condition === 'New' ? 'selected' : '' %>>New</option>
                            <option value="Like New" <%= item.condition === 'Like New' ? 'selected' : '' %>>Like New</option>
                            <option value="Used" <%= item.condition === 'Used' ? 'selected' : '' %>>Used</option>
                            <option value="Refurbished" <%= item.condition === 'Refurbished' ? 'selected' : '' %>>Refurbished</option>
                            <option value="Other" <%= item.condition === 'Other' ? 'selected' : '' %>>Other</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="price">Price ($):</label>
                        <input type="number" id="price" name="price" value="<%= item.price %>" required>
                    </div>
                    <div class="form-group">
                        <label for="details">Details:</label>
                        <textarea id="details" name="details" required><%= item.details %></textarea>
                    </div>
                    <div class="form-group">
                        <label for="image">Image:</label>
                        <input type="file" id="image" name="image">
                    </div>
                    <div class="form-group active-checkbox">
                        <label for="active">Active:</label>
                        <input type="checkbox" id="active" name="active" <%= item.active ? 'checked' : '' %>
                    </div>
                    <div class="action-buttons">
                        <button type="submit" class="save-btn">Save Changes</button>
                        <a href="/items/<%= item.id %>">
                            <button type="button" class="cancel-btn">Cancel</button>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>
<%- include('./partials/footer.ejs') %>

